*, body, button, input, textarea, h1, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    
    font-size: 62.5%;
    --primary-color : #32AAF0;
    --header-color : #577A8F;
    --second-color : #4792BC;
    --bg-color : hsl(0, 0%, 83%);
    
}
body{
    background-color: var(--bg-color);
    width: 100%;
    height: 100dvh;
    display: grid;
    place-content: center;

}
.app{
    width: min(80rem, 90%);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    gap: 2rem;


}
.app header{
    width: 100%;
    background-color: var(--primary-color) ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}
.app header ul{
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
}
.app header li{
    padding: 1.9rem 0;
    font-size: 1.6rem;
    color: #577A8F;
    transition: background 0.4s, color 0.4s ;
}
.app header li:hover{
    background: white;
    color: black;
}
.app header h1 {
    padding: 1.4rem 0;
    font-size: 2.2rem;
    color: white;
    border-bottom: 1px solid white;
}